<% if review.user_id == current_user.id %>
  ♥<%= review.favorites.count %> いいね
<% elsif review.favorited_by?(current_user) %>
  <p>
    <%= link_to  public_favorites_path(review:review.id,id:review.book_id), method: :delete do %>
      ♥<%= review.favorites.count %> いいね
    <% end %>
  </p>
<% else %>
    <p>
      <%= link_to  public_favorites_path(review:review.id,id:review.book_id), method: :post do %>
        ♡<%= review.favorites.count %> いいね
      <% end %>
    </p>
<% end %>