<div class="container text-center col-12">
  <div>
    <% @book.each do |book| %>
    <%= book.title %>のレビュー
    <%= form_with model:@review,url:public_reviews_path, method: :post do |review| %>
    <div class="text-center pt-5">
      <%= review.text_field :title, placeholder:"レビュータイトル(最大50字)", class: 'form-control',size: "5x1"  %>
    </div>
    <div class="text-center pt-3">
    <%= review.text_area :body, placeholder:"レビュー本文", class: 'form-control',size: "20x10" %>
    </div>
  <!--星評価 -->
    <div class="pl-5 text-center">
      <div class="form-group row" style=" display: inline-block;" id="star">
      <%= review.label :assess,'評価 ', class:'col-form-label hoshi'%>
      <%= review.hidden_field :assess, id: :star  %>
      </div>
    <!-- 評価javascript -->
      <script>
        $('#star').raty({
          size     : 36,
          starOff  :  '<%= asset_path('star-off.png') %>',
          starOn   : '<%= asset_path('star-on.png') %>',
          starHalf : '<%= asset_path('star-half.png') %>',
          scoreName: 'review[assess]',
          half     : true,
        });
      </script>
    </div>
  <!-- ここまで星評価 -->
    <%= review.hidden_field :user_id, :value => current_user.id %>
    <%= review.hidden_field :book_id, :value => book.isbn %>
    <%= review.hidden_field :book_title, :value => book.title %>
    <%= review.submit "投稿" %>
    <% end %>
    <% end %>
  </div>
</div>