<div class="container">
  <div class="row">
    <table width="80%"><!--書籍情報 -->
    <% @book.each do |book| %>
      <tr>
        <td><img src="<%=book.medium_image_url %>"></td>
        <td rowspan="3"><%= book.title %></td>
        <td><%= book.author %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="row">
    <table><!--レビュー情報 -->
      <tr>
        <td><%= @review.title %></td>
        <td><%= @review.body %></td>
      </tr>
    </table>
  </div>
</div>