<div class="row">
    <div>
        <div>タイトル、著者を選択し、本を検索できます。</div>
        <%= form_with url:public_books_path, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder:"タイトル、著者"  %>
        <%= f.select "book_category", options_for_select({ "タイトル" => "title", "著者" => "author" }) %>
        <%= f.submit "検索" %>
        <%= @msg %>
        <% end %>
    </div>
    <div class="ml-3">
        <div>レビューの検索ができます</div>
        <%= form_with url:public_books_path, method: :get do |f| %>
        <%= f.select "review_type", options_for_select({ "いいねの多い順" => "favorite", "新着順" => "new" }) %>
        <%= f.select "review_range", options_for_select({ "全てのレビュー" => "all", "自分のレビュー" => "my","フォロワーのレビュー" => "follow" }) %>
        <%= f.submit "検索" %>
        <% end %>
    </div>
</div>