<%= stylesheet_link_tag "application", :media => "all" %>
<div class="container">
  <%= render "public/books/search" %>
  <% if @books.present? %>
    <div class="row">
      <table width="80%">
        <% @books.first(20).each do |book| %>
          <tbody class="book">
            <tr>
              <td rowspan="3"><img src="<%=book. large_image_url %>"></td>
              <td><%= link_to book.title,public_book_path(book.isbn) %></td><!--ISBNコードをIDとして使用 -->
            </tr>
            <tr>
              <td>著者:<%= book.author %></td>
            </tr>
            <tr>
              <td>評価</td>
              <td>登録</td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  <% else %>
    <p>検索結果がみつかりませんでした。</p>
  <% end %>
  <div class="row pt-5">
    ページネーション
  </div>
</div>