<div class="container">
  <div class="row">
    <table width="80%">
      <% @book.each do |book| %>
        <tbody class="book">
          <tr>
            <td rowspan="3"><img src="<%=book.large_image_url %>"></td>
            <td><%= book.title %></td>
          </tr>
          <tr>
            <td>著者:<%= book.author %></td>
            <td><%= link_to "楽天で商品を確認する",book.item_url %></td>
          </tr>
          <tr>
            <td>評価</td>
            <td><%= link_to "読みたい本に登録", public_bookshelves_will_read_create_path(id:book.isbn, book_title:book.title), method: :post %></td>
            <td><%= link_to "レビューを書く", new_public_review_path(id:book.isbn) %></td><!--ISBNコードをIDとして使用 -->
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <% @reviews.each do |review| %>
  <div style="width:100%;display:flex;justify-content:space-around">
    <div>タイトル:<%= review.title %></div>
    <div><%=link_to review.user.name, public_user_path(id:review.user_id) %>さんのレビュー</div>
    <div><!--星評価-->
      <div id="star-assess<%= review.id%>"></div>
      <script>
        $('#star-assess<%= review.id %>').empty();
        $('#star-assess<%= review.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          half      : true,
          readOnly  : true,
          score: <%= review.assess %>,
        });
      </script>
      <!-- % @avarage += review.assess % -->
      <% @count += 1 %>
    </div><!-- ここまで星評価 -->
    <!--いいね機能 -->
    <% if review.user_id == current_user.id %>
      ♥<%= review.favorites.count %> いいね
    <% elsif review.favorited_by?(current_user) %>
      <p>
        <%= link_to  public_favorites_path(review:review.id,id:review.book_id), method: :delete do %>
        ♥<%= review.favorites.count %> いいね
        <% end %>
      </p>
    <% else %>
      <p>
      <%= link_to  public_favorites_path(review:review.id,id:review.book_id), method: :post do %>
      ♡<%= review.favorites.count %> いいね
      <% end %>
    </p>
    <% end %>
  </div>

  <div style="width:80%;overflow-wrap: break-word;text-align:center;margin-bottom:5%">
    <details><summary>内容を見る</summary><p style="height: 150px;overflow-wrap: break-word;overflow-y: scroll;text-align:left"><%= review.body %></p></details>
  </div>
  <% end %>
</div>