<div class="container">
  <div class="row">
    <table width="80%">
      <tr>
      <td colspan="2">ユーザー名:<%= @user.name %></td>
      <td>イチオシ</td>
      <td>サンプル1</td>
      <td>サンプル2</td>
      <td>サンプル3</td>
      </tr>
      <% if @user != current_user %>
      <tr>
        <% if current_user.following?(@user) %>
          <td><%= link_to "フォロー外す", public_user_relationships_path(@user.id), method: :delete %></td>
        <% else %>
          <td><%= link_to "フォローする", public_user_relationships_path(@user.id), method: :post %></td>
        <% end %>
      </tr>
      <% else %>
        <tr>
          <td>フォロー数: <%= @user.followings.count %></td>
          <td>フォロワー数: <%= @user.followers.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <!--以下タブ部分 -->
  <div class="wrap">
    <ul id="tab-menu">
        <li><a href="#tab1" class="active">読みたい本一覧</a></li>
        <li><a href="#tab2" class="">読んだ本一覧</a></li>
    </ul>
  <!--タブの中身-->
    <div id="tab-contents">
      <div id="tab1" class="tab">
        <div class="book"><%= render  public_will_book_path, books: @books %></div>
      </div>

      <div id="tab2" class="tab">
        <div class="book"><%= render  public_read_book_path, books: @books %></div>
      </div>
    </div>
  </div>


  <%= @user.name %>さんのレビュー一覧
  <div class="row">
    <% @reviews.each do |review| %>
    <div style="width:100%;display:flex;justify-content:space-around">
      <div><%= link_to review.book_title,public_book_path(review.book_id) %></div>
      <div>タイトル:<%= review.title %></div>

      <div><!--星評価　部分テンプレート化すること-->
        <div id="star-assess<%= review.id%>"></div>
        <script>
          $('#star-assess<%= review.id %>').empty();
          $('#star-assess<%= review.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly  : true,
            score: <%= review.assess %>,
          });
        </script>
      </div><!-- ここまで星評価 -->

      <div><!--いいね機能 部分テンプレート化すること-->
        <% if review.user_id == current_user.id %>
          ♥<%= review.favorites.count %> いいね
        <% elsif review.favorited_by?(current_user) %>
          <p>
            <%= link_to  public_favorites_path(review:review.id,id:review.book_id), method: :delete do %>
            ♥<%= review.favorites.count %> いいね
            <% end %>
          </p>
        <% else %>
          <p>
          <%= link_to  public_favorites_path(review:review.id,id:review.book_id), method: :post do %>
          ♡<%= review.favorites.count %> いいね
          <% end %>
          </p>
        <% end %>
      </div>

    </div>
    <div style="width:80%;overflow-wrap: break-word;text-align:center;margin-bottom:5%">
      <details><summary>内容を見る</summary><p style="height: 150px;overflow-wrap: break-word;overflow-y: scroll;text-align:left"><%= review.body %></p></details>
    </div>
    <% end %>
  </div>
</div>