<div class="container">
  <div class="row">
    <table width="80%">
      <tr>
        <td colspan="2">ユーザー名:<%= @user.name %></td>
      </tr>
      <% if @user.id != current_user.id %>
      <tr><!-- フォロー機能 -->
        <% if current_user.following?(@user) %>
          <td><%= link_to "フォロー外す", public_user_relationships_path(@user.id), method: :delete %></td>
        <% else %>
          <td><%= link_to "フォローする", public_user_relationships_path(@user.id), method: :post %></td>
        <% end %>
      </tr>
      <% else %>
        <tr>
          <td>フォロー数: <%= @user.followings.count %></td>
          <td>フォロワー数: <%= @user.followers.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <!--以下タブ部分 -->
  <div class="wrap">
    <ul id="tab-menu">
        <li><a href="#tab1" class="active">読みたい本一覧</a></li>
        <li><a href="#tab2" class="">読んだ本一覧</a></li>
    </ul>
  <!--タブの中身-->
    <div id="tab-contents">
      <div id="tab1" class="tab">
        <div class="book"><%= render  "public/bookshelves/will_read_show" , books: @shelves_will %></div>
      </div>

      <div id="tab2" class="tab">
        <div class="book"><%= render  "public/bookshelves/read_show", books: @shelves_did %></div>
      </div>
    </div>
  </div>


  <%= @user.name %>さんのレビュー一覧
  <div class="row">
    <% @reviews.each do |review| %>
    <div style="width:100%;display:flex;justify-content:space-around">
      <div><%= link_to review.book_title,public_book_path(review.book_id) %></div>
      <div>タイトル:<%= review.title %></div>
      <div><!--星評価-->
        <%= render "public/reviews/star", review:review %>
      </div>
      <div><!--いいね機能 -->
      <%= render "public/reviews/favorite", review:review %>
    </div>
    </div>
    <div style="width:80%;overflow-wrap: break-word;text-align:center;margin-bottom:5%">
      <details><summary>内容を見る</summary><p style="height: 150px;overflow-wrap: break-word;overflow-y: scroll;text-align:left"><%= review.body %></p></details>
    </div>
    <% end %>
  </div>
</div>